<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/homepage_style.css">


</head>
<body>
<div class="all">
    <div class="homepage">
        <!--    ********* GEADER *********-->
        <div th:replace="main/fragments/headerFooter::header"> </div>

        <main>
            <h1 style="color:red;">this is the main body section</h1>
        </main>


        <!--    ********* Footer *********-->
        <div th:replace="main/fragments/headerFooter::footer"> </div>
    </div>
</div>
</body>
</html>






<!--<h1>Login page</h1>-->

<!--<form th:action="@{/login}" method="post">-->

<!--    <fieldset>-->
<!--        <label>Username</label>-->
<!--        <input type="text" name="username" required>-->
<!--    </fieldset>-->

<!--    <fieldset>-->
<!--        <label>Password</label>-->
<!--        <input type="text" name="password" required>-->
<!--    </fieldset>-->

<!--    &lt;!&ndash; Error message &ndash;&gt;-->
<!--    <div th:if="${param.error}">-->
<!--        <p class="error-message">Invalid username or password</p>-->
<!--    </div>-->

<!--    <input type="submit">-->
<!--</form>-->