<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--*********************  Header  **************************-->
<div th:replace="main/fragments/headerFooter :: header"></div>


<!--*********************  Footer  **************************-->
<div th:replace="main/fragments/headerFooter :: footer"></div>

</body>




<!--****************** Header **************************&ndash;&gt;-->
<!--<div th:replace="main/fragments/header :: header"-->
<!--     th:with="allCategory : ${allCategory}, cartValue : ${cartValue} "></div>-->
</html>