<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
  <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>

<!--    HEADER          -->
<div th:replace="/main/fragments/headerFooter::header"></div>

<main style="height: 2700px;">
    <div class="about">
        <div class="body-section-4">
            <div class="rectangle-31"></div>

            <div class="event-2">
                <img class="image-for-event" src="/img/who us.png" />
                <div class="description">
                    Social Welfare Portal represents a government initiative dedicated
                    to advancing social welfare in Nepal. We are a passionate team
                    committed to transparency, inclusivity, and collaboration, serving
                    as a bridge between the government and the people. Our values drive
                    our actions as we strive to create a more inclusive and connected
                    Nepal for everyone.
                </div>
                <div class="who-we-are">Who We Are</div>
            </div>
            <div class="event-4">
                <img class="image-for-event2" src="/img/impact.png" />
                <div class="our-impact">Our Impact</div>
                <div class="description2">
                    Social Welfare Portal represents a government initiative dedicated
                    to advancing social welfare in Nepal. We are a passionate team
                    committed to transparency, inclusivity, and collaboration, serving
                    as a bridge between the government and the people. Our values drive
                    our actions as we strive to create a more inclusive and connected
                    Nepal for everyone.
                </div>
            </div>
            <div class="event-1">
                <img class="image-for-event3" src="/img/mission.jpg" />
                <div class="description3">
                    At Social Welfare Portal, our mission is clear and unwavering: to
                    connect individuals, organizations, and communities in Nepal and
                    empower them to create a more equitable and compassionate society.
                    We believe that by working together, we can make a meaningful and
                    lasting impact on the lives of our fellow citizens.
                </div>
                <div class="our-mission">Our&nbsp;Mission</div>
            </div>
            <div class="event-3">
                <img class="image-for-event4" src="/img/what-we-do-header.png" />
                <div class="description4">
                    Our platform serves as a catalyst for change in Nepal, facilitating
                    partnerships and collaborations between individuals, nonprofits, and
                    businesses. We believe in the power of raising awareness about
                    critical issues and supporting those actively driving positive
                    change. Through grants, mentorship, and networking, we empower
                    change makers and amplify their efforts for the betterment of Nepal.
                </div>
                <div class="what-we-do">What We Do</div>
            </div>
        </div>
        <div class="body-section-1">
            <img class="img-1" src="/img/about us.jpg" />
        </div>
        <div class="about-us">About Us</div>

    </div>
</main>


<!--FOOTER-->
<div th:replace="/main/fragments/headerFooter::footer"></div>

</body>
</html>