<!DOCTYPE html>
<html>
<head>
<!--    //Copy the below two lines to every files-->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Welfare Portal</title>

    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            appearance: none;
            background: none;
        }
    </style>
    <title>Social Welfare Portal</title>
</head>
<body>
<!--    HEADER          -->
    <div th:replace="/main/fragments/headerFooter::header"></div>

<!-- //main Content -->
<main>
    <section class="firstPart">
        <img src="/img/img-1.png" alt="Holding Hand">

        <!-- <section class="firstPartText">
            <h4>This is text file</h4>
        </section> -->
    </section>
</main>


<!--FOOTER-->
    <div th:replace="/main/fragments/headerFooter::footer"></div>

</body>






<!--****************** Header **************************&ndash;&gt;-->
<!--<div th:replace="main/fragments/header :: header"-->
<!--     th:with="allCategory : ${allCategory}, cartValue : ${cartValue} "></div>-->
</html>