<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--*********************  Header  **************************-->
<div th:replace="main/fragments/headerFooter :: header"></div>

<h1>Grant Request Form</h1>

<form th:action="@{/grant/register}" method="post" th:object="${grantdto}">
<!--    Fiscal year-->
    <fieldset>
        <label>Fiscal Year</label>
        <select th:field="*{fiscalYear}">
            <option value="2079/80">2079/80</option>
            <option value="2078/79">2078/79</option>
            <option value="2077/78">2077/78</option>
        </select>
    </fieldset>

    <fieldset>
        <label>Name</label>
        <input type="text" th:field="*{name}">
    </fieldset>

    <fieldset>
        <label>Description</label>
        <input type="text" th:field="*{description}">
    </fieldset>

    <fieldset>
        <label>How many individuals will be affected?</label>
        <input type="text" th:field="*{noOfIndividual}">
    </fieldset>

    <input type="submit">
</form>


<!--*********************  Footer  **************************-->
<div th:replace="main/fragments/headerFooter :: footer"></div>
</body>
</html>