.homepage,
.homepage * {
  box-sizing: border-box;
}
.all{
    font-family: 'Roboto';
    margin-left: 2.3em;
}
.homepage {
  background: #f5f4f4;
  width: 1440px;
  height: 3952px;
  position: relative;
  overflow: hidden;
}
.footer {
  position: absolute;
  inset: 0;
}
.rectangle-28 {
  background: #003893;
  width: 1440px;
  height: 390px;
  position: absolute;
  left: 0px;
  top: 3570px;
}
.social-welfare-portal {
  color: #ffffff;
  text-align: center;
  font: 500 24px "Roboto", sans-serif;
  position: absolute;
  left: 122px;
  top: 3624px;
}
.useful-links {
  color: #ffffff;
  text-align: center;
  font: 500 24px "Roboto", sans-serif;
  position: absolute;
  left: 727px;
  top: 3624px;
}
.social-welfare-portal-for-ng-os-is-at-the-forefront-of-ushering-in-a-new-era-of-collaboration-and-efficiency-for-nonprofits-and-ng-os-in-nepal-our-centralized-portal-is-designed-to-be-the-bridge-that-connects-these-vital-organizations-with-essential-resources-and-opportunities {
  color: #ffffff;
  text-align: left;
  font: 400 16px "Roboto", sans-serif;
  position: absolute;
  left: 121px;
  top: 3689px;
  width: 365px;
  height: 121px;
}
.home-about-contact-login {
  color: #ffffff;
  text-align: left;
  font: 400 16px/205.5% "Roboto", sans-serif;
  position: absolute;
  left: 730px;
  top: 3684px;
  width: 199px;
  height: 134px;
}
.address {
  color: #ffffff;
  text-align: center;
  font: 500 24px "Roboto", sans-serif;
  position: absolute;
  left: 1095px;
  top: 3624px;
}
.group-1 {
  width: 1355px;
  height: 166px;
  position: static;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com {
  color: #ffffff;
  text-align: left;
  font: 400 16px/160% "Roboto", sans-serif;
  position: absolute;
  left: 1095px;
  top: 3684px;
  width: 365px;
  height: 144px;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com-span {
  color: #ffffff;
  font: 400 16px/160% "Roboto", sans-serif;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com-span2 {
  color: #ffffff;
  font: 400 16px/160% "Roboto", sans-serif;
  text-transform: lowercase;
}
.vector {
  position: absolute;
  left: 1080px;
  top: 3718px;
  overflow: visible;
}
.vector2 {
  position: absolute;
  left: 1080px;
  top: 3745px;
  overflow: visible;
}
.vector3 {
  position: absolute;
  left: 1080px;
  top: 3797px;
  overflow: visible;
}
.vector4 {
  position: absolute;
  left: 1080px;
  top: 3771px;
  overflow: visible;
}
.location {
  position: absolute;
  left: 1080px;
  top: 3688px;
  overflow: visible;
}
.vector-1 {
  position: absolute;
  left: 105px;
  top: 3850px;
  overflow: visible;
}
.copyright-2080-all-right-reserved-government-of-nepal {
  color: #ffffff;
  text-align: left;
  font: 400 24px/160% "Roboto", sans-serif;
  position: absolute;
  left: 404px;
  top: 3887px;
}
.body-section-5 {
  position: absolute;
  inset: 0;
}
.rectangle-26 {
  background: #dfdedf;
  border-radius: 60px;
  width: 1218px;
  height: 336px;
  position: absolute;
  left: 105px;
  top: calc(50% - -1190px);
}
.if-you-want-to-know-more-about-our-works-or-want-to-help-us-feel-free-to-browse {
  color: #000000;
  text-align: center;
  font: 700 32px/149.19% "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 348px;
  top: 3203px;
}
.rectangle-27 {
  background: #003893;
  border-radius: 40px;
  width: 237px;
  height: 90px;
  position: absolute;
  left: 608px;
  top: 3382px;
}
.browse-here {
  color: #ffffff;
  text-align: center;
  font: 700 24px "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 642px;
  top: 3413px;
}
.body-section-4 {
  position: absolute;
  inset: 0;
}
.group-2 {
  width: 243px;
  height: 235.39px;
  position: static;
}
.rectangle-44 {
  background: #ffffff;
  border-radius: 32px;
  width: 243px;
  height: 235.39px;
  position: absolute;
  left: 98px;
  top: 2840px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.35);
}
.food {
  width: 185px;
  height: 209px;
  position: static;
}
.emojione-monotone-pot-of-food {
  position: absolute;
  left: 169px;
  top: 2857px;
  overflow: visible;
}
._20-000 {
  color: #000000;
  text-align: left;
  font: 700 24px "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 173px;
  top: calc(50% - -987px);
  width: 92px;
  height: 40px;
}
.mouths-feed {
  color: #000000;
  text-align: center;
  font: 400 24px "Roboto", sans-serif;
  position: absolute;
  left: 122px;
  top: 3002px;
  width: 185px;
  height: 64px;
}
.group-3 {
  width: 243px;
  height: 235.39px;
  position: static;
}
.rectangle-45 {
  background: #ffffff;
  border-radius: 32px;
  width: 243px;
  height: 235.39px;
  position: absolute;
  left: 438px;
  top: 2842.66px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.35);
}
.money {
  width: 177px;
  height: 195px;
  position: static;
}
.healthicons-money-bag {
  position: absolute;
  left: 514px;
  top: 2865px;
  overflow: visible;
}
.rs-50-00-000 {
  color: #000000;
  text-align: left;
  font: 700 24px "Roboto", sans-serif;
  position: absolute;
  left: 492px;
  top: 2963px;
  width: 165px;
  height: 34px;
}
.donation-collected {
  color: #000000;
  text-align: center;
  font: 400 24px "Roboto", sans-serif;
  position: absolute;
  left: 480px;
  top: 2997px;
  width: 159px;
  height: 63px;
}
.group-4 {
  width: 243px;
  height: 235.39px;
  position: static;
}
.rectangle-46 {
  background: #ffffff;
  border-radius: 32px;
  width: 243px;
  height: 235.39px;
  position: absolute;
  left: 778px;
  top: 2839.64px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.35);
}
.shelter {
  width: 142px;
  height: 205.01px;
  position: static;
}
.ion-home {
  position: absolute;
  left: 855px;
  top: 2854.99px;
  overflow: visible;
}
._10-000 {
  color: #000000;
  text-align: left;
  font: 700 24px "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 857px;
  top: 2953px;
  width: 110px;
  height: 35px;
}
.shelters-provided {
  color: #000000;
  text-align: center;
  font: 400 24px "Roboto", sans-serif;
  position: absolute;
  left: 834px;
  top: 2996px;
  width: 142px;
  height: 64px;
}
.group-5 {
  width: 243px;
  height: 235.39px;
  position: static;
}
.rectangle-47 {
  background: #ffffff;
  border-radius: 32px;
  width: 243px;
  height: 235.39px;
  position: absolute;
  left: 1118px;
  top: 2839.64px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.35);
}
.ngo {
  width: 142px;
  height: 195px;
  position: static;
}
.raphael-people {
  position: absolute;
  left: 1195px;
  top: 2865px;
  overflow: visible;
}
._500 {
  color: #000000;
  text-align: left;
  font: 700 24px "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 1215px;
  top: 2949px;
  width: 70px;
  height: 34px;
}
.ng-os-connected {
  color: #000000;
  text-align: center;
  font: 400 24px "Roboto", sans-serif;
  position: absolute;
  left: 1169px;
  top: 2995px;
  width: 142px;
  height: 65px;
}
.donation-collected2 {
  color: #000000;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 119px);
  top: calc(50% - -772px);
  width: 257px;
  height: 23.88px;
}
.body-section-3 {
  position: absolute;
  inset: 0;
}
.rectangle-31 {
  background: #dfdedf;
  width: 1440px;
  height: 1228px;
  position: absolute;
  left: 0px;
  top: 1478px;
}
.rectangle-32 {
  background: #0b58d5;
  border-radius: 32px;
  width: 149px;
  height: 42px;
  position: absolute;
  left: 666px;
  top: 2612px;
}
.view-more {
  width: 117px;
  height: 24px;
  position: static;
}
.view-more2 {
  color: #ffffff;
  text-align: left;
  font: 500 16px "Roboto", sans-serif;
  position: absolute;
  left: 682px;
  top: 2623px;
}
.fe-arrow-down {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 775px;
  top: 2621px;
  overflow: hidden;
}
.fe-arrow-down-0 {
  position: absolute;
  inset: 0;
}
.fe-arrow-down-1 {
  position: absolute;
  left: 4px;
  top: 7px;
  overflow: visible;
}
.event-2 {
  width: 1228px;
  height: 415px;
  position: static;
}
.image-for-event {
  width: 608px;
  height: 415px;
  position: absolute;
  left: 730px;
  top: 2110px;
}
.reducing-hunger {
  color: #000000;
  text-align: center;
  font: 700 24px "Roboto", sans-serif;
  position: absolute;
  left: calc(50% - 529px);
  top: 2193px;
  width: 336px;
}
.description {
  color: #000000;
  text-align: left;
  font: 400 16px "Roboto", sans-serif;
  position: absolute;
  left: 110px;
  top: 2267px;
  width: 498px;
  height: 176px;
}
.event-1 {
  width: 1216px;
  height: 415px;
  position: static;
}
.image-for-event2 {
  width: 588px;
  height: 415px;
  position: absolute;
  left: 102px;
  top: 1577px;
}
.disaster-management {
  color: #000000;
  text-align: center;
  font: 700 24px "Roboto", sans-serif;
  position: absolute;
  left: calc(50% - -246px);
  top: 1668px;
  width: 238px;
  height: 27px;
}
.description2 {
  color: #000000;
  text-align: left;
  font: 400 16px "Roboto", sans-serif;
  position: absolute;
  left: 852px;
  top: 1731px;
  width: 466px;
  height: 171px;
}
.involved-areas {
  color: #000000;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 98px);
  top: 1496px;
}
.body-section-2 {
  position: absolute;
  inset: 0;
}
.rectangle-10 {
  background: #dfdedf;
  width: 1440px;
  height: 370px;
  position: absolute;
  left: 0px;
  top: 1083px;
}
.rectangle-11 {
  width: 267px;
  height: 218px;
  position: absolute;
  left: 102px;
  top: 1206px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-13 {
  width: 263px;
  height: 218px;
  position: absolute;
  left: 766px;
  top: 1206px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-12 {
  width: 267px;
  height: 217.96px;
  position: absolute;
  left: 434px;
  top: 1206px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-14 {
  width: 242px;
  height: 218px;
  position: absolute;
  left: 1094px;
  top: 1206px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.involved-ng-os {
  color: #000000;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: calc(50% - 91px);
  top: calc(50% - 834.03px);
  width: 180px;
  height: 23.23px;
}
.involved-ng-os-span {
  color: #000000;
  font: 800 24px "Roboto", sans-serif;
  text-transform: uppercase;
}
.involved-ng-os-span2 {
  color: #000000;
  font: 800 24px "Roboto", sans-serif;
  text-transform: lowercase;
}
.body-section-1 {
  position: absolute;
  inset: 0;
}
.img-1 {
  width: 1440px;
  height: 878px;
  position: absolute;
  left: 0px;
  top: 226px;
}
.left-arrow {
  width: 60px;
  height: 60px;
  position: static;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 13px;
  top: 635px;
}
.fe-arrow-left {
  background: #dad6d6;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 649px;
  overflow: hidden;
}
.fe-arrow-left-0 {
  position: absolute;
  inset: 0;
}
.fe-arrow-left-1 {
  position: absolute;
  left: 9.33px;
  top: 5.33px;
  overflow: visible;
}
.ellipse-12 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1370px;
  top: 635px;
}
.fe-arrow-left2 {
  background: #dad6d6;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1416px;
  top: 649px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.fe-arrow-left-12 {
  position: absolute;
  left: 9.33px;
  top: 5.33px;
  overflow: visible;
}
.header {
  position: absolute;
  inset: 0;
}
.header-menu {
  width: 1196px;
  height: 69px;
  position: static;
}
.side-menu {
  width: 1196px;
  height: 69px;
  position: static;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 30px;
  width: 1196px;
  height: 69px;
  position: absolute;
  left: 122px;
  top: 191px;
}
.header-menu2 {
  width: 924px;
  height: 42px;
  position: static;
}
.home {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: 243px;
  top: 211px;
  width: 86px;
  height: 36px;
}
.about {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;

  position: absolute;
  left: 457px;
  top: 207px;
  width: 86px;
  height: 36px;
}
.about-span {
  color: #003893;
  font: 800 24px "Roboto", sans-serif;
}
.about-span2 {
  color: #003893;
  font: 800 32px "Roboto", sans-serif;
}
.contact {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: 671px;
  top: 214px;
  width: 86px;
  height: 30px;
}
.login {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: 885px;
  top: 213px;
  width: 68px;
  height: 36px;
}
.donate {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: 1081px;
  top: 213px;
  width: 86px;
  height: 36px;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 393px;
  top: 208px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 607px;
  top: 209px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-3 {
  border-style: solid;
  border-color: #003893;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 821px;
  top: 210px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-4 {
  border-style: solid;
  border-color: #003893;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 1035px;
  top: 211px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.logo {
  width: 1216px;
  height: 91px;
  position: static;
}
.social-welfare-portal-kathmandu-nepal {
  color: #000000;
  text-align: center;
  position: absolute;
  left: 855px;
  top: 83px;
}
.social-welfare-portal-kathmandu-nepal-span {
  color: #000000;
  font: 800 32px/160% "Roboto", sans-serif;
  text-transform: uppercase;
}
.social-welfare-portal-kathmandu-nepal-span2 {
  color: #000000;
  font: 700 24px/160% "Roboto", sans-serif;
}
.logo-no-background-1 {
  width: 274px;
  height: 91px;
  position: absolute;
  left: 102px;
  top: 81px;
}
.top-header {
  width: 1440px;
  height: 62px;
  position: static;
}
.rectangle-29 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.rectangle-30 {
  background: #003893;
  width: 467px;
  height: 61px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.empowering-ngo-enriching-nepal {
  color: #ffffff;
  text-align: left;
  font: 500 16px "Roboto", sans-serif;
  position: absolute;
  left: 102px;
  top: 22px;
}
.talk-to-us-977-01-52-xxxxxx {
  color: #ffffff;
  text-align: left;
  font: 400 16px/160% "Roboto", sans-serif;
  position: absolute;
  left: 1109px;
  top: 17px;
  width: 209px;
}
.vector16 {
  position: absolute;
  left: 1090px;
  top: 22px;
  overflow: visible;
}
