.login,
.login * {
  box-sizing: border-box;
}
.login-all{
    margin-left: 2em;
    font-family: 'Roboto';
  }
.login {
  background: #f5f4f4;
  width: 1440px;
  height: 2975px;
  position: relative;
  overflow: hidden;
}
.footer {
  position: absolute;
  inset: 0;
}
.rectangle-28 {
  background: #003893;
  width: 1440px;
  height: 476px;
  position: absolute;
  left: 0px;
  top: 2499px;
}
.social-welfare-portal {
  color: #ffffff;
  text-align: center;
  font: 500 36px "Roboto", sans-serif;
  position: absolute;
  left: 102px;
  top: 2564px;
}
.useful-links {
  color: #ffffff;
  text-align: center;
  font: 500 36px "Roboto", sans-serif;
  position: absolute;
  left: 710px;
  top: 2564px;
}
.social-welfare-portal-for-ng-os-is-at-the-forefront-of-ushering-in-a-new-era-of-collaboration-and-efficiency-for-nonprofits-and-ng-os-in-nepal-our-centralized-portal-is-designed-to-be-the-bridge-that-connects-these-vital-organizations-with-essential-resources-and-opportunities {
  color: #ffffff;
  text-align: left;
  font: 400 24px "Roboto", sans-serif;
  position: absolute;
  left: 102px;
  top: 2638px;
  width: 486px;
  height: 205px;
}
.home-about-contact-login {
  color: #ffffff;
  text-align: left;
  font: 400 24px/205.5% "Roboto", sans-serif;
  position: absolute;
  left: 710px;
  top: 2638px;
  width: 199px;
  height: 211px;
}
.address {
  color: #ffffff;
  text-align: center;
  font: 500 36px "Roboto", sans-serif;
  position: absolute;
  left: 975px;
  top: 2564px;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com {
  color: #ffffff;
  text-align: left;
  font: 400 24px/160% "Roboto", sans-serif;
  position: absolute;
  left: 975px;
  top: 2638px;
  width: 365px;
  height: 251px;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com-span {
  color: #ffffff;
  font: 400 24px/160% "Roboto", sans-serif;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com-span2 {
  color: #ffffff;
  font: 400 24px/160% "Roboto", sans-serif;
  text-transform: lowercase;
}
.group-1 {
  width: 20px;
  height: 172px;
  position: static;
}
.vector {
  position: absolute;
  left: 950px;
  top: 2686.76px;
  overflow: visible;
}
.vector2 {
  position: absolute;
  left: 950px;
  top: 2724.54px;
  overflow: visible;
}
.vector3 {
  position: absolute;
  left: 950px;
  top: 2800.1px;
  overflow: visible;
}
.vector4 {
  position: absolute;
  left: 950px;
  top: 2762.32px;
  overflow: visible;
}
.location {
  position: absolute;
  left: 950px;
  top: 2646px;
  overflow: visible;
}
.vector-1 {
  position: absolute;
  left: 105.5px;
  top: 2876.5px;
  overflow: visible;
}
.copyright-all-right-reserved-2023-website-by-moon-knight {
  color: #ffffff;
  text-align: left;
  font: 400 24px/160% "Roboto", sans-serif;
  position: absolute;
  left: 402px;
  top: 2911px;
}
.body-section-1 {
  position: absolute;
  inset: 0;
}
.img-1 {
  width: 1440px;
  height: 719px;
  position: absolute;
  left: 0px;
  top: 345px;
  opacity: 50%;
}
.join-our-social-welfare-portal-log-in-or-register-now {
  color: #000000;
  text-align: left;
  font: 800 72px "Roboto", sans-serif;
  position: absolute;
  left: calc(50% - 484px);
  top: calc(50% - 912.5px);
}
.header-menu {
  position: absolute;
  inset: 0;
}
.side-menu {
  width: 1196px;
  height: 69px;
  position: static;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 30px;
  width: 1196px;
  height: 69px;
  position: absolute;
  left: 122px;
  top: 311px;
}
.header-menu2 {
  width: 778px;
  height: 36px;
  position: static;
}
.home {
  color: #003893;
  text-align: left;
  font: 800 32px "Roboto", sans-serif;
  position: absolute;
  left: 331px;
  top: 326px;
  width: 86px;
  height: 35.57px;
}
.about {
  color: #003893;
  text-align: left;
  font: 800 32px "Roboto", sans-serif;
  position: absolute;
  left: 554px;
  top: 326px;
  width: 87px;
  height: 35.57px;
}
.contact {
  color: #003893;
  text-align: left;
  font: 800 32px "Roboto", sans-serif;
  position: absolute;
  left: 778px;
  top: 326px;
  width: 113px;
  height: 35.57px;
}
.login2 {
  color: #003893;
  text-align: left;
  font: 800 32px "Roboto", sans-serif;
  position: absolute;
  left: 1028px;
  top: 326px;
  width: 81px;
  height: 35.57px;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 453px;
  top: 326px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 686px;
  top: 326px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-3 {
  border-style: solid;
  border-color: #003893;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 939px;
  top: 326px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.top-header {
  position: absolute;
  inset: 0;
}
.rectangle-29 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.rectangle-30 {
  background: #003893;
  width: 467px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.empowering-ngo-enriching-nepal {
  color: #ffffff;
  text-align: left;
  font: 500 26px "Roboto", sans-serif;
  position: absolute;
  left: 36px;
  top: 27px;
}
.talk-to-us-977-01-52-xxxxxx {
  color: #ffffff;
  text-align: left;
  font: 400 24px/160% "Roboto", sans-serif;
  position: absolute;
  left: 1009px;
  top: 24px;
  width: 309px;
}
.vector7 {
  position: absolute;
  left: 986px;
  top: 34px;
  overflow: visible;
}
.logo {
  position: absolute;
  inset: 0;
}
.social-welfare-portal-kathmandu-nepal {
  color: #000000;
  text-align: center;
  position: absolute;
  left: 644px;
  top: 140px;
}
.social-welfare-portal-kathmandu-nepal-span {
  color: #000000;
  font: 800 46px/160% "Roboto", sans-serif;
  text-transform: uppercase;
}
.social-welfare-portal-kathmandu-nepal-span2 {
  color: #000000;
  font: 700 24px/160% "Roboto", sans-serif;
}
.social-welfare-portal-kathmandu-nepal-span3 {
  color: #000000;
  font: 700 32px/160% "Roboto", sans-serif;
}
.logo-no-background-1 {
  width: 370px;
  height: 123px;
  position: absolute;
  left: 36px;
  top: 138px;
}
.login-form {
  position: absolute;
  inset: 0;
}
.rectangle-33 {
  background: #d9d9d9;
  width: 1440px;
  height: 1367px;
  position: absolute;
  left: 0px;
  top: 1098px;
}
.enter-your-registration-number {
  color: #646464;
  text-align: left;
  font: 400 24px/160% "Roboto", sans-serif;
  position: absolute;
  left: 385px;
  top: 1462px;
}
.registration-no {
  color: #000000;
  text-align: center;
  font: 300 36px "Roboto", sans-serif;
  position: absolute;
  left: 348px;
  top: 1337px;
}
.password {
  color: #000000;
  text-align: center;
  font: 300 36px "Roboto", sans-serif;
  position: absolute;
  left: 347px;
  top: 1579px;
}
.forgot-password {
  color: #0b58d5;
  text-align: center;
  font: 400 36px "Roboto", sans-serif;
  position: absolute;
  left: 796px;
  top: 1782px;
}
.login3 {
  color: #000000;
  text-align: center;
  font: 800 72px "Roboto", sans-serif;
  position: absolute;
  left: calc(50% - 184px);
  top: 1164px;
}
.line-4 {
  border-style: solid;
  border-color: #0b58d5;
  border-width: 1px 0 0 0;
  width: 750px;
  height: 0px;
  position: absolute;
  left: 345px;
  top: 1511px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-5 {
  border-style: solid;
  border-color: #0b58d5;
  border-width: 1px 0 0 0;
  width: 750px;
  height: 0px;
  position: absolute;
  left: 346px;
  top: 1753px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.login-btn {
  width: 750px;
  height: 94px;
  position: static;
}
.rectangle-34 {
  background: #003893;
  border-radius: 60px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 750px;
  height: 94px;
  position: absolute;
  left: calc(50% - 375px);
  top: 1913px;
}
.login4 {
  color: #ffffff;
  text-align: center;
  font: 700 65px "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 94px);
  top: 1923px;
  text-decoration: none;
}
.or-register-here {
  text-align: center;
  position: absolute;
  left: calc(50% - 250px);
  top: 2184px;
  width: 500px;
  height: 237px;
}
.or-register-here-span {
  color: #000000;
  font: 700 42px/205.19% "Roboto", sans-serif;
  text-transform: uppercase;
}
.or-register-here-span2 {
  color: #0b58d5;
  font: 300 52px/205.19% "Roboto", sans-serif;
}
.streamline-interface-user-single-close-geometric-human-person-single-up-user {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 347px;
  top: 1465px;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 1.87px;
  top: 1.14px;
  overflow: visible;
}
.enter-your-password {
  color: #646464;
  text-align: left;
  font: 400 24px/160% "Roboto", sans-serif;
  position: absolute;
  left: 385px;
  top: 1700px;
}
.carbon-password {
  position: absolute;
  left: 347px;
  top: 1703px;
  overflow: visible;
}
