.login,
.login * {
  box-sizing: border-box;
}
.all{
    margin-left: 2.3em;
    font-family: 'Roboto';
}
.login {
  background: #f5f4f4;
  width: 1440px;
  height: 2321px;
  position: relative;
  overflow: hidden;
}
.body-section-1 {
  position: absolute;
  inset: 0;
}
.img-1 {
  width: 1440px;
  height: 719px;
  opacity: 50%;
  position: absolute;
  left: 0px;
  top: 226px;
}
.join-our-social-welfare-portal-log-in-or-register-now {
  color: #000000;
  text-align: center;
  font: 800 42px "Roboto", sans-serif;
  position: absolute;
  left: calc(50% - 283px);
  top: calc(50% - 662.5px);
}
.login-form {
  position: absolute;
  inset: 0;
}
.rectangle-33 {
  background: #d9d9d9;
  border-radius: 35px;
  width: 959px;
  height: 917px;
  position: absolute;
  left: 240px;
  top: 979px;
}
.login2 {
  color: #000000;
  text-align: center;
  font: 800 36px "Roboto", sans-serif;
  position: absolute;
  left: calc(50% - 94px);
  top: 1041px;
}
.group-6 {
  width: 722px;
  height: 490px;
  position: static;
}
.enter-your-registration-number {
  color: #646464;
  text-align: left;
  font: 400 16px/160% "Roboto", sans-serif;
  position: absolute;
  left: 400px;
  top: 1248px;
  width: 263px;
}
.registration-no {
  color: #000000;
  text-align: center;
  font: 300 24px "Roboto", sans-serif;
  position: absolute;
  left: 353px;
  top: 1152px;
  width: 197px;
}
.password {
  color: #000000;
  text-align: center;
  font: 300 24px "Roboto", sans-serif;
  position: absolute;
  left: 361px;
  top: 1357px;
  width: 123px;
}
.forgot-password {
  color: #0b58d5;
  text-align: center;
  font: 400 16px "Roboto", sans-serif;
  position: absolute;
  left: 939px;
  top: 1533px;
}
.line-4 {
  border-style: solid;
  border-color: #0b58d5;
  border-width: 1px 0 0 0;
  width: 710px;
  height: 0px;
  position: absolute;
  left: 365px;
  top: 1297px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-5 {
  border-style: solid;
  border-color: #0b58d5;
  border-width: 1px 0 0 0;
  width: 709px;
  height: 0px;
  position: absolute;
  left: 365px;
  top: 1489px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.login-btn {
  width: 710px;
  height: 62px;
  position: static;
}
.rectangle-34 {
  background: #003893;
  border-radius: 35px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 710px;
  height: 62px;
  position: absolute;
  left: calc(50% - 357px);
  top: 1580px;
}
.login3 {
  color: #ffffff;
  text-align: center;
  font: 700 24px "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 45px);
  top: 1597px;
  width: 85px;
  height: 28px;
}
.streamline-interface-user-single-close-geometric-human-person-single-up-user {
  border-radius: 35px;
  width: 26px;
  height: 22px;
  position: absolute;
  left: 363px;
  top: 1250px;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 1.52px;
  top: 0.79px;
  overflow: visible;
}
.enter-your-password {
  color: #646464;
  text-align: left;
  font: 400 16px/160% "Roboto", sans-serif;
  position: absolute;
  left: 400px;
  top: 1444px;
  width: 174px;
}
.carbon-password {
  border-radius: 35px;
  position: absolute;
  left: 363px;
  top: 1446px;
  overflow: visible;
}
.header {
  position: absolute;
  inset: 0;
}
.header-menu {
  width: 1196px;
  height: 69px;
  position: static;
}
.side-menu {
  width: 1196px;
  height: 69px;
  position: static;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 30px;
  width: 1196px;
  height: 69px;
  position: absolute;
  left: 122px;
  top: 191px;
}
.header-menu2 {
  width: 924px;
  height: 42px;
  position: static;
}
.home {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: 243px;
  top: 211px;
  width: 86px;
  height: 36px;
}
.about {
  color: #003893;
  text-align: left;
  position: absolute;
  left: 457px;
  top: 207px;
  width: 86px;
  height: 36px;
}
.about-span {
  color: #003893;
  font: 800 24px "Roboto", sans-serif;
}
.about-span2 {
  color: #003893;
  font: 800 32px "Roboto", sans-serif;
}
.contact {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: 671px;
  top: 214px;
  width: 86px;
  height: 30px;
}
.login4 {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: 885px;
  top: 213px;
  width: 68px;
  height: 36px;
}
.donate {
  color: #003893;
  text-align: left;
  font: 800 24px "Roboto", sans-serif;
  position: absolute;
  left: 1081px;
  top: 213px;
  width: 86px;
  height: 36px;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 393px;
  top: 208px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 607px;
  top: 209px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-3 {
  border-style: solid;
  border-color: #003893;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 821px;
  top: 210px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-42 {
  border-style: solid;
  border-color: #003893;
  border-width: 2px 0 0 0;
  width: 36px;
  height: 0px;
  position: absolute;
  left: 1035px;
  top: 211px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.logo {
  width: 1216px;
  height: 91px;
  position: static;
}
.social-welfare-portal-kathmandu-nepal {
  color: #000000;
  text-align: center;
  position: absolute;
  left: 855px;
  top: 83px;
}
.social-welfare-portal-kathmandu-nepal-span {
  color: #000000;
  font: 800 32px/160% "Roboto", sans-serif;
  text-transform: uppercase;
}
.social-welfare-portal-kathmandu-nepal-span2 {
  color: #000000;
  font: 700 24px/160% "Roboto", sans-serif;
}
.logo-no-background-1 {
  width: 274px;
  height: 91px;
  position: absolute;
  left: 102px;
  top: 81px;
}
.top-header {
  width: 1440px;
  height: 62px;
  position: static;
}
.rectangle-29 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.rectangle-30 {
  background: #003893;
  width: 467px;
  height: 61px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.empowering-ngo-enriching-nepal {
  color: #ffffff;
  text-align: left;
  font: 500 16px "Roboto", sans-serif;
  position: absolute;
  left: 102px;
  top: 22px;
}
.talk-to-us-977-01-52-xxxxxx {
  color: #ffffff;
  text-align: left;
  font: 400 16px/160% "Roboto", sans-serif;
  position: absolute;
  left: 1109px;
  top: 17px;
  width: 209px;
}
.vector5 {
  position: absolute;
  left: 1093px;
  top: 22.58px;
  overflow: visible;
}
.footer {
  position: absolute;
  inset: 0;
}
.rectangle-28 {
  background: #003893;
  width: 1440px;
  height: 390px;
  position: absolute;
  left: 0px;
  top: 1931px;
}
.social-welfare-portal {
  color: #ffffff;
  text-align: center;
  font: 500 24px "Roboto", sans-serif;
  position: absolute;
  left: 122px;
  top: 1985px;
}
.useful-links {
  color: #ffffff;
  text-align: center;
  font: 500 24px "Roboto", sans-serif;
  position: absolute;
  left: 727px;
  top: 1985px;
}
.social-welfare-portal-for-ng-os-is-at-the-forefront-of-ushering-in-a-new-era-of-collaboration-and-efficiency-for-nonprofits-and-ng-os-in-nepal-our-centralized-portal-is-designed-to-be-the-bridge-that-connects-these-vital-organizations-with-essential-resources-and-opportunities {
  color: #ffffff;
  text-align: left;
  font: 400 16px "Roboto", sans-serif;
  position: absolute;
  left: 121px;
  top: 2050px;
  width: 365px;
  height: 121px;
}
.home-about-contact-login {
  color: #ffffff;
  text-align: left;
  font: 400 16px/205.5% "Roboto", sans-serif;
  position: absolute;
  left: 730px;
  top: 2045px;
  width: 199px;
  height: 134px;
}
.address {
  color: #ffffff;
  text-align: center;
  font: 500 24px "Roboto", sans-serif;
  position: absolute;
  left: 1095px;
  top: 1985px;
}
.group-1 {
  width: 1355px;
  height: 166px;
  position: static;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com {
  color: #ffffff;
  text-align: left;
  font: 400 16px/160% "Roboto", sans-serif;
  position: absolute;
  left: 1095px;
  top: 2045px;
  width: 365px;
  height: 144px;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com-span {
  color: #ffffff;
  font: 400 16px/160% "Roboto", sans-serif;
}
.shantinagar-kathmandu-nepal-977-01-52-xxxxxx-977-01-52-xxxxxx-contact-socialwelfare-com-www-socialwelfareportal-com-span2 {
  color: #ffffff;
  font: 400 16px/160% "Roboto", sans-serif;
  text-transform: lowercase;
}
.vector6 {
  position: absolute;
  left: 1080px;
  top: 2079px;
  overflow: visible;
}
.vector7 {
  position: absolute;
  left: 1080px;
  top: 2106px;
  overflow: visible;
}
.vector8 {
  position: absolute;
  left: 1080px;
  top: 2158px;
  overflow: visible;
}
.vector9 {
  position: absolute;
  left: 1080px;
  top: 2132px;
  overflow: visible;
}
.location {
  position: absolute;
  left: 1080px;
  top: 2049px;
  overflow: visible;
}
.vector-1 {
  position: absolute;
  left: 105px;
  top: 2211px;
  overflow: visible;
}
.copyright-2080-all-right-reserved-government-of-nepal {
  color: #ffffff;
  text-align: left;
  font: 400 24px/160% "Roboto", sans-serif;
  position: absolute;
  left: 404px;
  top: 2248px;
}
