<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Events</title>
</head>
<body>


<!--*********************  Header  **************************-->
<div th:replace="main/fragments/headerFooter :: header"></div>

<form th:action="@{/events/add}" method="post" th:object="${eventRequestDto}">
    <label>Event Name:</label>
    <input type="text" th:field="*{name}"><br>
    <label>Event Date:</label>
    <input type="datetime-local" th:field="*{date}"><br>
    <label>Event Location:</label>
    <input type="text" th:field="*{eventLocation}"><br>
    <label>Event Description:</label>
    <input type="text" th:field="*{description}"><br>
    <label>Fund:</label>
    <input type="text" th:field="*{fund}"><br>
    <button type="submit">Submit</button>
</form>

<!--*********************  Footer  **************************-->
<div th:replace="main/fragments/headerFooter :: footer"></div>

</body>




<!--****************** Header **************************&ndash;&gt;-->
<!--<div th:replace="main/fragments/header :: header"-->
<!--     th:with="allCategory : ${allCategory}, cartValue : ${cartValue} "></div>-->
</html>