<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--*********************  Header  **************************-->
<div th:replace="main/fragments/headerFooter :: header"></div>

<h1>All Events</h1>
<table>
    <thead>
    <tr>
        <th>SN</th>
        <th>Event Name</th>
        <th>Date</th>
        <th>Event Location</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event, iStat:${events}">
        <td th:text="${iStat.index + 1}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.date}"></td>
        <td th:text="${event.eventLocation}"></td>
        <td th:text="${event.description}"></td>
    </tr>
    </tbody>
</table>

<!--*********************  Footer  **************************-->
<div th:replace="main/fragments/headerFooter :: footer"></div>

</body>




<!--****************** Header **************************&ndash;&gt;-->
<!--<div th:replace="main/fragments/header :: header"-->
<!--     th:with="allCategory : ${allCategory}, cartValue : ${cartValue} "></div>-->
</html>