<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Footer</title>
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:fragment="header">

    <header>

        <section class="top-header">
            <h4>Empowering NGO, Enriching Nepal</h4>
            <h4 class="talkToUs" style="background-color:#0B58D5;"><i class="fa fa-phone" aria-hidden="true" style="margin-right: 0.3em;"></i> Talk to us: +977 01-52xxxxxx</h4>
        </section>

        <section class="middle-header">
            <img src="/img/logo-no-background.png" alt="Logo">

            <section class="nameDetails">
                <h1>SOCIAL WELFARE PORTAL</h1>
                <h3>Kathmandu, Nepal</h3>
            </section>
        </section>

        <section class="bottom-header">

            <nav>
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <li><a th:href="@{/donate}">Dontate</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </nav>
        </section>
    </header>

</div>



<div th:fragment="footer">
    <footer>
        <section class="info-footer">
            <h3>Social Welfare Portal</h3>
            <p>       Social Welfare Portal for NGOs, is at the forefront of ushering in a
                new era of collaboration and efficiency for nonprofits and NGOs in
                Nepal. Our centralized portal is designed to be the bridge that
                connects these vital organizations with essential resources and
                opportunities.
            </p>
        </section>

        <section class="links-footer">
            <h3>Useful Links</h3>

            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </section>

        <section class="address-footer">
            <h3>Address</h3>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Shantinagar, Kathmandu, Nepal</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+977 01-52xxxxxx</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+977 01-52xxxxxx</p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@socialwelfare.com</p>
            <p> <i class="fa fa-globe" aria-hidden="true"></i>socialwelfare.com.np</p>
        </section>
    </footer>
    <section class="copyrightSection">
        <div class="line"></div>

        <p class="copyright">Copyright &copy; 2080 | All Rights Reserved | Government of Nepal</p>
    </section>


</div>

</body>
</html>